body {
  margin: 0;
}

@media all and (min-width: 50px)   {  body  { font-size:0.1em !important;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.2em !important;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.4em !important;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.6em !important;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.8em !important;  } }
@media all and (min-width: 500px)  {  body  { font-size:1.0em !important;  } }
@media all and (min-width: 600px)  {  body  { font-size:1.2em !important;  } }
@media all and (min-width: 700px)  {  body  { font-size:1.4em !important;  } }
@media all and (min-width: 800px)  {  body  { font-size:1.6em !important;  } }
@media all and (min-width: 900px)  {  body  { font-size:1.8em !important;  } }
@media all and (min-width: 1000px) {  body  { font-size:2.0em !important;  } }
@media all and (min-width: 1100px) {  body  { font-size:2.2em !important;  } }
@media all and (min-width: 1200px) {  body  { font-size:2.4em !important;  } }
@media all and (min-width: 1300px) {  body  { font-size:2.6em !important;  } }
@media all and (min-width: 1400px) {  body  { font-size:2.8em !important;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.0em !important;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.2em !important;  } }
@media all and (min-width: 1600px) {  body  { font-size:3.4em !important;  } }
@media all and (min-width: 1700px) {  body  { font-size:3.6em !important;  } }

.banner_section {
  display: flex;
  position: relative;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}

.banner_section--text {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background: rgba(217, 217, 217, 0.4);
  width:100%;
  font-family: "Josefin Sans";
}

.banner_section--text h1 {
  font-family: "Great Vibes";
  font-weight: 400;
}

.image__section {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.image__section--img {
  width: 100%;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.info__section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.info__section-text {
  display: flex;
  font-family: "Josefin Sans";
  font-weight: 400;
  color: #40677D;
  flex-wrap: wrap;
  justify-content: center;
  margin: 24px;
}

.info__section-text h2 {
  width: 100%;
  text-align: center;
}

.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}

.info__section-text a {
  text-decoration: none;
  color: #40677D;
  font-weight: 600;
}

.banner_section--text_bottom {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.banner-img {
  width: 100%;
}

.my-button {
  font-size: inherit !important;
}

.side-by-side__alternate {
  grid-column: 1;
  grid-row: 1;
}

.side-by-side p {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.side-by-side img {
  width: 100%;
}

@media (min-width: 1024px) {
  .my-button {
    padding: 60px;
  }
}

/* CSS */
.my-button {
  align-items: center;
  background: #E6F3FB;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #40677D;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: calc(.875rem - 2px) calc(1.5rem - 8px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.my-button:hover,
.my-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.my-button:hover {
  transform: translateY(-1px);
}

.my-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}